### Instructions:

1. Import all the libraries you need in the cell below
2. Create as many cells as needed to answer a question
  * Group code that is logically related in the same cell
  * Keep cells relatively small
  * Format long statements or expressions, including `ggplot`, across multiple lines
3. Submit your work to Github
  * your GitHub repository should be called `week_4_practical`
  * This file should be called `week_4_solution.ipynb`

In [ ]:
# Write you library imports here. E.g.:
# library(ggplot2 )
# ...

In [1]:
library(ggplot2)
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ tibble  3.1.3     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.1     ✔ forcats 0.5.1
✔ purrr   0.3.4

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### Q.1

* Write a function that manually computes the standard deviation.
  * Call your function `sd_x`

Recall that the standard deviation is computed as

$$
\sigma = \sqrt{\frac{\sum{(x_i - \mu)^2}}{N-1}}
$$

* $\mu$ is simply the mean of the vector of inputs
  * it can be computed using the `mean` function


For example, given:

```x = c(1,2,3)```

Since $\mu = 2$, then $\sigma = \sqrt{\frac{(1-2)^2 + (2-2)^2 + (3-2)^2}{3}} = 1$.

* Important: What do you do if this function is called with a single element?
  * Recall that we cannot compute the std deviation of a single value

* Use `assertthat` to make sure that `sd_x` and `sd` return the same values for 3 test vectors of your choice.

In [17]:
# Write you answer here and use more cell if needed
sd_x = function(x) { 
      if(length(x)> 1){ 
      sqrt((sum((x - mean(x))^2) )/(length(x) - 1))
}     
      else{ 
      stop("more than one value needed")
}
}

In [19]:
data = c(1, 2, 3)
sd_x(data)
sd(data)

[1] 1

[1] 1

In [21]:
data = c(7,10, 8, 5)
sd_x(data)
sd(data)

[1] 2.081666

[1] 2.081666

In [22]:
#This test is gonna fail
test = c(1)
sd_x(test)
sd(test)

ERROR: ignored

### Q2

* In this question, we will build a simulated dataset for healthy and diseased corals.  You will be creating a `tibble` called `coral_health_tbl` that contains 2 columns:

1. A column called `coral`. Generate this column by sampling 100 coral species from the following values
```R
coral_pop = c("Montipora capitata",
                 "Porites compressa",
                 "Porites lobata")
```
 * You can use the function `sample` to select 100 values from the vector `coral_pop`
 
2. The second column is called `health_status`.
    * it represents 100 randomly selected `TRUE` or `FALSE` values that represent whether the coral is healthy or diseased.
    * Healthy corals (`health_status == FALSE`; not diseased) occur with a probability of 0.8 wheras diseased (`health_status == TRUE`) corals occur with a probability of 0.3.
    * You can use sample again but modify the `prob` parameter to account for the differet probabilities

In [37]:
# Write you answer here and use more cell if needed
coral_pop = c("Montipora capitata", 
               "Porites compressa", 
               "Porites lobata")
coral = sample(coral_pop, 100, 
               replace = TRUE)
print(coral)

  [1] "Porites compressa"  "Porites compressa"  "Montipora capitata"
  [4] "Montipora capitata" "Porites compressa"  "Porites lobata"
  [7] "Porites compressa"  "Porites lobata"     "Montipora capitata"
 [10] "Porites lobata"     "Montipora capitata" "Porites lobata"
 [13] "Montipora capitata" "Montipora capitata" "Montipora capitata"
 [16] "Porites lobata"     "Porites compressa"  "Porites lobata"
 [19] "Porites compressa"  "Porites lobata"     "Porites compressa"
 [22] "Montipora capitata" "Porites compressa"  "Montipora capitata"
 [25] "Porites lobata"     "Porites compressa"  "Porites compressa"
 [28] "Porites lobata"     "Porites lobata"     "Porites lobata"
 [31] "Montipora capitata" "Montipora capitata" "Porites lobata"
 [34] "Montipora capitata" "Porites compressa"  "Montipora capitata"
 [37] "Porites lobata"     "Porites lobata"     "Montipora capitata"
 [40] "Porites lobata"     "Porites lobata"     "Porites compressa"
 [43] "Porites lobata"     "Porites compressa"  "Porites compressa"
 [46] "Porites lobata"     "Porites lobata"     "Porites lobata"
 [49] "Porites compressa"  "Porites compressa"  "Montipora capitata"
 [52] "Porites compressa"  "Montipora capitata" "Porites lobata"
 [55] "Porites lobata"     "Porites compressa"  "Porites lobata"
 [58] "Porites lobata"     "Porites lobata"     "Porites compressa"
 [61] "Porites lobata"     "Montipora capitata" "Porites compressa"
 [64] "Porites compressa"  "Porites compressa"  "Porites compressa"
 [67] "Porites compressa"  "Porites lobata"     "Porites compressa"
 [70] "Porites compressa"  "Porites compressa"  "Porites compressa"
 [73] "Montipora capitata" "Montipora capitata" "Porites lobata"
 [76] "Porites compressa"  "Montipora capitata" "Porites lobata"
 [79] "Porites compressa"  "Porites compressa"  "Porites compressa"
 [82] "Montipora capitata" "Porites compressa"  "Porites compressa"
 [85] "Montipora capitata" "Porites lobata"     "Montipora capitata"
 [88] "Porites lobata"     "Porites compressa"  "Porites compressa"
 [91] "Porites lobata"     "Porites lobata"     "Porites compressa"
 [94] "Montipora capitata" "Porites compressa"  "Porites lobata"
 [97] "Porites lobata"     "Porites lobata"     "Montipora capitata"
[100] "Porites lobata"

In [35]:
healthstat = c("True", 
               "False")
health_status = sample(healthstat, 100, replace = TRUE, prob = c(0.8,0.2))
print(health_status)

  [1] "True"  "True"  "True"  "True"  "False" "True"  "True"  "True"  "True"
 [10] "True"  "False" "True"  "True"  "True"  "True"  "True"  "True"  "True"
 [19] "True"  "True"  "True"  "True"  "True"  "True"  "True"  "True"  "True"
 [28] "True"  "True"  "False" "True"  "True"  "True"  "False" "True"  "True"
 [37] "True"  "True"  "False" "True"  "True"  "True"  "False" "True"  "True"
 [46] "True"  "False" "False" "True"  "True"  "False" "True"  "True"  "True"
 [55] "True"  "True"  "True"  "True"  "True"  "False" "True"  "True"  "True"
 [64] "True"  "True"  "False" "False" "True"  "False" "True"  "True"  "True"
 [73] "True"  "False" "True"  "True"  "True"  "True"  "True"  "False" "True"
 [82] "True"  "True"  "True"  "False" "True"  "True"  "True"  "True"  "False"
 [91] "False" "False" "True"  "False" "True"  "False" "False" "True"  "False"
[100] "True"

In [41]:
data_frame = data.frame(coral, health_status)
coral_health_tbl = tibble(coral, health_status)
print(coral_health_tbl)

# A tibble: 100 × 2
   coral              health_status
   <chr>              <chr>
 1 Porites compressa  True
 2 Porites compressa  True
 3 Montipora capitata True
 4 Montipora capitata True
 5 Porites compressa  False
 6 Porites lobata     True
 7 Porites compressa  True
 8 Porites lobata     True
 9 Montipora capitata True
10 Porites lobata     True
# … with 90 more rows

### Q3

* Create a new column in `coral_health_tbl` called `coral_cover`
* This column represents coral cover values for the corals observed in your tibble

* For the healthy coral (`health_status = TRUE`), sample the cover values from a normal with mean 9 and std of 2
* For the diseased corals (`health_status = TRUE`), sample the cover values from a normal with mean 1 and std of 3
* Note that this is a perfect scenario for using `mapply`

In [54]:
# Write you answer here and use more cell if needed (tapply, create a function with if else statement)
# test if parameter is true or false, apply multiple times based on columns
# return_cover =  function(x)
# mapply(return_cover, health.status)
return_cover = function(x) { 
  if(x == "True"){ 
    rnorm(1, 9, 2) 
  }else{ 
    rnorm(1, 1, 3)
  }
}

return_cover("True")
return_cover("False" )

[1] 7.787832

[1] 2.342549

In [43]:
rnorm(1, 9, 2)

[1] 7.071213

In [55]:
mapply(
  return_cover, c("True", "True", "False", "True")
)

return_cover("True")
return_cover("True")
return_cover("False")
return_cover("True")

     True      True     False      True
 8.013114  9.547029 -4.687937  8.159228

[1] 9.043654

[1] 9.637912

[1] 1.823196

[1] 10.79194

In [56]:
coral_cover = mapply(return_cover, health_status)
print(coral_cover)

      True       True       True       True      False       True       True
 8.4055023 11.0715482 13.4431244  9.6960659 -3.6274682  6.5180748  9.1274624
      True       True       True      False       True       True       True
 9.6780907  7.2814361  8.5591316  7.2484800  6.5854174  7.9025260 10.2394308
      True       True       True       True       True       True       True
11.2528402  9.2071421  9.8634953  9.5614912 10.5331236  9.0157706  9.5520552
      True       True       True       True       True       True       True
12.5871108  9.4911453 14.3046129  7.2032327  6.0772652  9.1784295 10.6063956
      True      False       True       True       True      False       True
 7.4654713  3.7263201 10.6359325  8.9136864 11.3850655  5.5128062  5.6890077
      True       True       True      False       True       True       True
 9.6812873  6.8411638  7.8830222  3.1734316 10.8923899 11.7849240 10.5123007
     False       True       True       True      False      False       True
 1.2505201  7.4396303 10.5082254  9.7247370  4.7131688  2.3088002  8.1288134
      True      False       True       True       True       True       True
 8.6321495  4.6255947  8.9027190 12.5389346 10.5233002  8.1785413 11.3019409
      True       True       True      False       True       True       True
 3.8338700  9.5002560  9.3733564  4.2416444  8.1055924  8.9014170  5.4040060
      True       True      False      False       True      False       True
10.7796143  9.2906532  0.8318916 -2.3488613  8.0182163  5.7770383  8.1221575
      True       True       True      False       True       True       True
 9.4696517  7.6882343 10.4275968  1.8435036 11.4514447 10.5015646  3.9780032
      True       True      False       True       True       True       True
 9.9506326 10.4142880  4.7077153  9.8012955  6.9371213  6.5020196  7.8017083
     False       True       True       True       True      False      False
-6.2908005  6.9045334  7.8165982  8.8346315  3.6709222 -0.7604333  0.6051326
     False       True      False       True      False      False       True
-3.2184379  9.1730107 -1.1226576  9.4278608 -2.8391103  5.3910186  2.9117121
     False       True
-2.5114707  8.4082963

In [57]:
coral_health_tbl = tibble(coral, health_status, coral_cover)
print(coral_health_tbl)

# A tibble: 100 × 3
   coral              health_status coral_cover
   <chr>              <chr>               <dbl>
 1 Porites compressa  True                 8.41
 2 Porites compressa  True                11.1
 3 Montipora capitata True                13.4
 4 Montipora capitata True                 9.70
 5 Porites compressa  False               -3.63
 6 Porites lobata     True                 6.52
 7 Porites compressa  True                 9.13
 8 Porites lobata     True                 9.68
 9 Montipora capitata True                 7.28
10 Porites lobata     True                 8.56
# … with 90 more rows

### Q4

* Add another column called `binary_health_status`.
 * set the column to 0 if `health_status == FALSE`
 * set the column to 1 if `health_status == TRUE`

* A trick here is to remember that:
  1. Corecing (converting) a logical can be done with `as.integer()`
  2. `as.integer(TRUE)` returns 1
  3. `as.integer(FALSE)` returns 0

In [ ]:
# Write you answer here and use more cell if needed

### Q5

* Plot the distribution of `coral_cover` for healthy versus diseased corals
* Note that I am using a histogram `geom`
  * Histograms need only a `x` axis because the `y` is computed (count)
    * However, instead of a raw count, we want a normalized count. You can normalize the count by setting `y = stat(count / sum(count))`  
  * I am coloring the bin outlines in black and filling in grey for disease and white for healthy
  * I am using `binwidth=1'.
* use the `labs` function to add a title and to change the labels for the `x` and `y` axes
* The plot should look like the following
![](https://www.dropbox.com/s/wdbdj05rd50vb0k/healthy-diseased.png?dl=1)

In [ ]:
# Write you answer here and use more cell if needed

### Q6.

* Repeat the plot above by highlighting the distribution per species
* I am using `geom_density`
  * set the `adjust` param of `geom_density` to `2`
* Change the `xlim` scale so that we can see the edges of the curves
  * I.e., curves should not be cutoff

In [ ]:
# Write you answer here and use more cell if needed

### Q6 -- Challenge


Recall problem `8` in the airquality dataset.
  * Remember that you can import that dataset using `data(airquality)`
1. Convert the `airquality` dataframe to a tibble called `airq_tbl`
2. Replace the missing values for Solar.R using that month's average.
    * Example:
        * The missing value for line 6 in `airq_tbl`should be replaced with the average for month 5.
        * The missing value for line 97 in `airq_tbl` should be replaced with the average for month 8.

* Strategy:
  1. Compute the average values for months 5, 6, 7, 8, and 9 in a names vector called `monthly_avg_SolarR`
      * monthly_avg_SolarR[5] should return the average for May.
      * monthly_avg_SolarR[6] should return the average for June.
      * etc.
      * This is an ideal use case for `tapply` with `na.rm=TRUE` (ask me!)
  2. for each line of airq_tbl check value of Solar.R and do:
    * if value is not `na`, return the value
    * if value if `na`; return avg associated with `Month`
    * This is an ideal case for `apply`
      * You need to write your own function (call it `fix_missing_solar_R`)
      * Recall that the argument to that function is a complete row as a vector!
    * test your function with the following line to make sure it's working
    ```fix_missing_solar_R(airq_tbl[5,])```

In [ ]:
# Write you answer here and use more cell if needed 
# you most likely will need more cells to structure such a multi-step answer